.banner__card {
  padding: 25px;
}

.white {
  background-color: var(--white);
}

.smoothGrey {
  background-color: var(--white-grey);
}

.mediumGrey {
  background-color: var(--grey);
}

.boldGrey {
  background-color: var(--charcoal);
}
.title__white {
  color: var(--white);
}

.banner__cardImg {
  width: 100%;
  height: 300px;
  object-position: center;
}

.banner__cardTitle {
  font-size: 2rem;
  font-weight: 300;
}

.banner__cardDescription {
  margin-block: 20px;
  text-align: left;
}